* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #eee;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	display: block;
	width: 30%;
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

#img-div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 4.5rem;
	letter-spacing: 0.8rem;
	color: steelblue;
	text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

#img-caption {
	font-size: small;
	text-align: right;
}

#tribute-info {
	max-width: 60%;
	margin: 30px auto;
	line-height: 1.8rem;
}

#main a {
	color: steelblue;
	font-weight: 800;
}
